/*
Useful resources:
* https://learn.shayhowe.com/advanced-html-css/complex-selectors/
* https://getbootstrap.com -> wait for beta of v5?
* https://popper.js.org -> for popovers
*/

/* Re-define basic styles that were cleared by the reset.css.
This ensures that formatting is consistent across browsers. */
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h1, h2, h3, h4 { font-weight: bold; }
h1, h2, h3, h4, p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
ol, ul { padding-left: 2em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }


/* Basic styles */
:root {
    /* Can define CSS variables here, e.g. for common colours. */
    --bgcolor: #4352af;
}

.debug { border: 2px solid blue; }
.hidden {display: none;}

.green {background-color: green;}
.yellow {background-color: yellow;}
.red {background-color: red;}
.black {background-color: black;}


/* Basic page layout */
body { height: 100vh; }

header, main, footer {
    box-sizing: border-box;
    padding: 8px;
}

header {
    height: 4em;
    display: flex;
    align-items: center;
    color: #fff;
    background: var(--bgcolor);
}

main {
    height: calc(100vh - 8em);
    overflow: auto;
}

footer {
    height: 4em;
    display: flex;
    color: #fff;
    background: var(--bgcolor);
}


/* Header */
#page-title { flex: 1 auto; }

header > nav a {
    padding: 0 4px; /* make clickable area a little wider than the text itself */
    margin: 0 4px;
    color: inherit;
}

#alerts {
    position: relative;
    font-size: 1.5em;
    margin-inline-start: 20px;
}

#alerts-badge {
    position: absolute;
    top: -6px;
    right: -2px;
    padding: 0 0.3em;
    border: 1px solid #fff;
    border-radius: 0.6em;
    color: #fff;
    background: #f00;
    font: bold 0.5em sans-serif;
}

#alerts menu { display: none; } /* TODO: hidden by default and should expand when clicked */


/* Footer */
footer>div {flex: 1;}
/* #current-time { } */
#current-run { text-align: center; }
#current-run-number { font-weight: bold; }
#current-run-number::before { content: "#"; }
#current-run > p:nth-child(2) { font-size: smaller; }

#settings { text-align: right; }


/* Main */

/* Main > Common elements */
.plot-div {
    border: 5px solid rebeccapurple;
    margin-bottom: 20px;
}

summary > h2 {
    display: inline-block;
}

.details-link { float: right; }
.details-link::after { content: " »"; }


/* Status display (e.g. for DAQ overview page) */
.statusboard {
    line-height: 0; /* avoid vertical margin between .statusindicator boxes */
    max-width: 200px;
}
.statusboard * { line-height: initial; } /* Don’t inherit this to children! */

.statusindicator {
    display: inline-block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 0.5px solid #fff;
}

.popover {
    width: 14em;
    background: #ddd;
    padding: 10px;
    border: 1px solid #bbb;
    z-index: 1;
}

.popover span {color: white;}
.popover span.red::after, .popover span.black::after {content: '⚠️';}

.popover .po-arrow, .popover .po-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.popover .po-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #ddd;
}

.popover[data-popper-placement^='top'] > .po-arrow {bottom: -4px;}
.popover[data-popper-placement^='bottom'] > .po-arrow {top: -4px;}
.popover[data-popper-placement^='left'] > .po-arrow {right: -4px; }
.popover[data-popper-placement^='right'] > .po-arrow { left: -4px; }


/* Main detector status page */
#wrapper {
    column-count: 3;
    column-rule: 1px solid rebeccapurple;
    max-height: 600px;
}

.item {
    break-inside: avoid;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.25);
}

.item .title {
    margin-bottom: 1em;
}

.item .title h3 {
    display: inline;
}
